export SECRET_KEY="LBSmYVU0NdF-RKdm54IWjqW0TaXGK-8vL8weRwu4cxk"
export STATIC_ROOT='/static'
export PG_USER="postgres"
export PG_PASS="postgres"
export PG_DB="postgres"
export PG_HOST="localhost"
export LOG_LEVEL="DEBUG"
export ADMIN_USER='admin'
export ADMIN_PASS='admin'
export DJANGO_SETTINGS_MODULE='config.settings.prod'
export DEBUG=True