export AWS_DEFAULT_REGION=us-east-1
export TF_VAR_aws_account_id=826593466528
export AWS_ACCOUNT_ID=826593466528
export AWS_ACCESS_KEY_ID=AKIA4A5GPLCQFZIV3344
export AWS_SECRET_ACCESS_KEY=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
