[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
botocore = "*"
pydantic = "*"
uvicorn = "*"
cryptography = "*"
pyjwt = "*"
httpx = "*"

[dev-packages]
black = "==21.6b0"
isort = "*"
flake8 = "*"
pylint = "*"
mypy = "*"

[requires]
python_version = "3.9"
