[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "==7.10.1"
loguru = "==0.5.3"
psycopg2-binary = "==2.8.6"
pydantic = "==1.7.3"
redis = "==3.5.3"
backoff = "*"

[dev-packages]

[requires]
python_version = "3.9"
